/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-dark: rgb(136, 222, 226);
    --bg-light: rgb(230, 252, 251);
    --bg-input: #d3e7e8;
    --text-dark: #2E4450;
    --text-light: rgba(46, 68, 80, 0.77);
    font-family: "Poppins", sans-serif;
    font-size: calc(0.5vw + 0.5em);
}
 
body {
    width: 100%;
    height: 100vmin;
    display: flex;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    padding: 0.85em 2em;
    color: white;
    background: #2E4450;
    border-radius: 1.5em;
    border: 2px solid transparent;
}

button:hover {
    background: #2e4450a5;
    cursor: pointer;
}

/* Dashboard */

.dashboard {
    width: 20%;
    height: 100%;
    background: var(--bg-dark);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.dashboard-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}

.dashboard-menus h3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    flex: 2.7;
    text-align: left;
    padding-left: 5.2vw;
    font-size: 1.3rem;
    font-weight: 800;
}

.dashboard-menus a {
    width: 100%;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    font-size: 1rem;
    flex: 2.5;
    padding-left: 5.2vw;
}

.dashboard-menus a .image-container {
    width: 10%;
}

.dashboard-menus a img {
    width: 100%;
    height: 1.5em;
}

.dashboard-menus #medicine img {
    transform: rotate(40deg);
}

.dashboard-menus a p {
    width: 40%;
    margin-left: 1em;
    font-weight: 500;
}

.dashboard-menus .active {
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    background: var(--text-dark);
}

.dashboard-menus .active p {
    color: var(--bg-light);
}

.dashboard-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 92%;
    height: 20%;
}

.dashboard-account img {
    height: 30%;
    margin-bottom: 0.2em;
}

.dashboard-account p {
    font-weight: 600;
}

/* Left Content */

.content {
    font-size: 1rem;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-light);
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.left-content form,
.left-content h3 {
    width: 80%;
    margin-bottom: 3em;
}

.left-content form {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-content form input {
    border: none;
    border-radius: 5px;
    background: var(--bg-input);
    padding: 1em 3em;
    font-size: 0.9em;
    margin-right: 0.3em;
}

.left-content form input::placeholder {
    color: var(--text-light);
}

.left-content form input:focus {
    border: none;
    outline: none;
}

.left-content form label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 0.5em;
}

.left-content .amount-form label {
    margin-top: 12px;
}

.left-content form .button-container {
    margin-top: 1em;
}

.left-content form input[name="customerName"] {
    width: 50%;
}

.left-content form input[name="medicineName"] {
    width: 50%;
}

.left-content form input[name="pricePerUnit"] {
    width: 100%;
    margin-bottom: 1.1em;
}

.left-content form input[name="quantity"] {
    width: 80%;
}

.left-content form .amount-form {
    display: flex;
}

.left-content form .amount-input {
    width: 50%;
}

/* Right Content */
.right-content {
    width: 50%;
    height: 100%;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.customer, .medicine, .amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-dark);
    padding: 0 1.8em;
    font-weight: 400;
    font-size: 1.05em;
}

.customer .left,
.medicine .left,
.amount .left {
    text-align: left;
}

.customer .right,
.medicine .right,
.amount .right {
    text-align: right;
}

.customer p, .medicine p, .amount p {
    margin: 1em;
}

.customer {
    width: 80%;
    height: 40%;
    border-bottom: 1px solid var(--text-dark);
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.medicine, .amount {
    width: 80%;
    height: 30%;
}

.medicine {
    border-bottom: 1px solid var(--text-dark);
}

.amount {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}





