/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-dark: rgb(136, 222, 226);
    --bg-light: rgb(230, 252, 251);
    --bg-input: #d3e7e8;
    --text-dark: #2E4450;
    --text-light: rgba(46, 68, 80, 0.77);
    font-family: "Poppins", sans-serif;
    font-size: calc(0.5vw + 0.5em);
}
 
body {
    width: 100%;
    height: 100vmin;
    display: flex;
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    padding: 0.85em 2em;
    color: white;
    background: #2E4450;
    border-radius: 1.5em;
    border: 2px solid transparent;
}

button:hover {
    background: #2e4450a5;
    cursor: pointer;
}

/* Dashboard */

.dashboard {
    width: 20%;
    height: 100%;
    background: var(--bg-dark);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.dashboard-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}

.dashboard-menus h3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    flex: 2.7;
    text-align: left;
    padding-left: 5.2vw;
    font-size: 1.3rem;
    font-weight: 800;
}

.dashboard-menus a {
    width: 100%;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    font-size: 1rem;
    flex: 2.5;
    padding-left: 5.2vw;
}

.dashboard-menus a .image-container {
    width: 10%;
}

.dashboard-menus a img {
    width: 100%;
    height: 1.5em;
}

.dashboard-menus .medicine img {
    transform: rotate(40deg);
}

.dashboard-menus a p {
    width: 40%;
    margin-left: 1em;
    font-weight: 500;
}

.dashboard-menus .active {
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    background: var(--text-dark);
}

.dashboard-menus .active p {
    color: var(--bg-light);
}

.dashboard-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    position: relative;
    left: 5.5rem;
    margin-top: 3rem;
    background: none;
}

.dashboard-account:hover {
    cursor: pointer;
    left: 6rem;
}

.dashboard-account img {
    height: 3rem;
    margin-bottom: 0.2em;
}

.dashboard-account p {
    font-size: 1rem;
    font-weight: 600;
}

/* Content */

.content {
    font-size: 1rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-light);
}

.content form,
.content h3 {
    width: 80%;
    margin-bottom: 3em;
}

.content form {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content form input {
    border: none;
    border-radius: 5px;
    background: var(--bg-input);
    padding: 1em 3em;
    font-size: 0.9em;
    margin-right: 0.3em;
}

.content form input::placeholder {
    color: var(--text-light);
}

.content form input:focus {
    border: none;
    outline: none;
}

.content form label {
    display: inline-block;
    width: 15%;
    text-align: right;
    margin-right: 0.5em;
}

.content form .button-container {
    margin-top: 1em;
}

.content form input[name="medicine_name"],
.content form input[name="medicine_type"] {
    width: 28%;
}

.content form input[name="year"],
.content form input[name="month"],
.content form input[name="date"] {
    width: 18%;
}

.content form input[name="cost_price"],
.content form input[name="marked_price"],
.content form input[name="quantity"] {
    width: 20%;
}

.content form input[name="remarks"] {
    width: 65%;
}

/* Chrome, Safari, Edge, Opera */
input[type=number].cost_price::-webkit-inner-spin-button,
input[type=number].marked_price::-webkit-inner-spin-button,
input[type=number].quantity::-webkit-inner-spin-button,
input[type=number].cost_price::-webkit-outer-spin-button,
input[type=number].marked_price::-webkit-outer-spin-button,
input[type=number].quantity::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number].year::-webkit-inner-spin-button,
input[type=number].month::-webkit-inner-spin-button,
input[type=number].date::-webkit-inner-spin-button,
input[type=number].year::-webkit-outer-spin-button,
input[type=number].month::-webkit-outer-spin-button,
input[type=number].date::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
